<?xml version="1.0"?>
<module name="Checker">
    <module name="TreeWalker">
        <module name="OperatorWrap">
            <property name="option" value="nl"/>
            <property name="tokens" value="METHOD_REF"/>
        </module>
        <module name="SuppressionFilter">
            <property name="file" value="${config_loc}/checkstyle/suppressions.xml"/>
        </module>
    </module>
</module>